# Vue.js
/frontend/*
!/frontend/src/
!/frontend/package.json
!/frontend/dockerfile
!README.md


# Logs
logs/
*.log

# Env
.env

# FastAPI
__pycache__/
*.py[cod]
*.pyo
*.env
.venv/
env/
venv/


# OS
.DS_Store


# other
.idea/
.vscode/
